<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

	<display-name>Hotel Room Booking Servlet</display-name>
	<description>Servlet created for ITC357</description>
	<servlet>
		<servlet-name>bookingServlet</servlet-name>
		<servlet-class>BookingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookingServlet</servlet-name>
		<url-pattern>/BookingServlet</url-pattern>
	</servlet-mapping>
</web-app>